<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>jee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImmobiliersConroller</display-name>
    <servlet-name>ImmobiliersConroller</servlet-name>
    <servlet-class>controller.auth.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmobiliersConroller</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/JSTL.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ImmobilierServlet</display-name>
    <servlet-name>ImmobilierServlet</servlet-name>
    <servlet-class>controller.immobilier.ImmobilierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmobilierServlet</servlet-name>
    <url-pattern>/property</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.backoffice.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/agent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyServlet</display-name>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>controller.backoffice.PropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/agent/properties</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>controller.backoffice.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/agent/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSettingsServlet</display-name>
    <servlet-name>ProfileSettingsServlet</servlet-name>
    <servlet-class>controller.backoffice.ProfileSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSettingsServlet</servlet-name>
    <url-pattern>/agent/profile/settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSecurityServlet</display-name>
    <servlet-name>ProfileSecurityServlet</servlet-name>
    <servlet-class>controller.backoffice.ProfileSecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSecurityServlet</servlet-name>
    <url-pattern>/agent/profile/security</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePropertiesServlet</display-name>
    <servlet-name>ProfilePropertiesServlet</servlet-name>
    <servlet-class>controller.backoffice.ProfilePropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePropertiesServlet</servlet-name>
    <url-pattern>/agent/profile/properties</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyDeleteServlet</display-name>
    <servlet-name>PropertyDeleteServlet</servlet-name>
    <servlet-class>controller.backoffice.PropertyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyDeleteServlet</servlet-name>
    <url-pattern>/properties/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SinglePageServlet</display-name>
    <servlet-name>SinglePageServlet</servlet-name>
    <servlet-class>controller.immobilier.SinglePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinglePageServlet</servlet-name>
    <url-pattern>/showProperty/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controller.auth.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  
  
  <session-config>
  <session-timeout>300</session-timeout> <!-- Session timeout in minutes -->
</session-config>
</web-app>